<a href="https://colab.research.google.com/github/IamBansal/Python/blob/main/Akshat_Bansal_External.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [4]:
df = pd.read_csv("/content/iris.data.csv")

In [5]:
df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [7]:
df.shape

(149, 5)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   5.1          149 non-null    float64
 1   3.5          149 non-null    float64
 2   1.4          149 non-null    float64
 3   0.2          149 non-null    float64
 4   Iris-setosa  149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [9]:
df.describe()

              5.1         3.5         1.4         0.2
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [12]:
df=df.replace({'Iris-setosa':{'Iris-setosa':0,'Iris-versicolor':1,'Iris-virginica':2}})
df

     5.1  3.5  1.4  0.2  Iris-setosa
0    4.9  3.0  1.4  0.2            0
1    4.7  3.2  1.3  0.2            0
2    4.6  3.1  1.5  0.2            0
3    5.0  3.6  1.4  0.2            0
4    5.4  3.9  1.7  0.4            0
..   ...  ...  ...  ...          ...
144  6.7  3.0  5.2  2.3            2
145  6.3  2.5  5.0  1.9            2
146  6.5  3.0  5.2  2.0            2
147  6.2  3.4  5.4  2.3            2
148  5.9  3.0  5.1  1.8            2

[149 rows x 5 columns]

In [14]:
df.isnull()

       5.1    3.5    1.4    0.2  Iris-setosa
0    False  False  False  False        False
1    False  False  False  False        False
2    False  False  False  False        False
3    False  False  False  False        False
4    False  False  False  False        False
..     ...    ...    ...    ...          ...
144  False  False  False  False        False
145  False  False  False  False        False
146  False  False  False  False        False
147  False  False  False  False        False
148  False  False  False  False        False

[149 rows x 5 columns]

In [26]:
df.rename(columns= {'5.1': 'sepal.length', '3.5' : 'sepal.width', '1.4' : 'petal.length', '0.2' : 'petal.width', 'Iris-setosa' : 'variety'}, inplace = True)

In [27]:
df

     sepal.length  sepal.width  petal.length  petal.width  variety
0             4.9          3.0           1.4          0.2        0
1             4.7          3.2           1.3          0.2        0
2             4.6          3.1           1.5          0.2        0
3             5.0          3.6           1.4          0.2        0
4             5.4          3.9           1.7          0.4        0
..            ...          ...           ...          ...      ...
144           6.7          3.0           5.2          2.3        2
145           6.3          2.5           5.0          1.9        2
146           6.5          3.0           5.2          2.0        2
147           6.2          3.4           5.4          2.3        2
148           5.9          3.0           5.1          1.8        2

[149 rows x 5 columns]

In [28]:
features=['sepal.length','sepal.width','petal.length','petal.width']
y=df.variety
x=df[features]

In [29]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y,random_state=42,test_size=0.3)

In [30]:
rf=RandomForestClassifier(n_estimators=10,criterion="entropy")

In [31]:
rf.fit(X_train,Y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10)

In [32]:
y_predict = rf.predict(X_test)

In [33]:
accuracy=accuracy_score(y_predict,Y_test)
accuracy

0.9111111111111111

In [34]:
X_new=np.array([[5.9,3.0,5.1,1.8]]).reshape(1,-1)

In [35]:
pred=rf.predict(X_new)

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [36]:
if pred==0 :
  print("'Setosa")
if pred==1 :
  print("Versicolor")  
if pred==2:
  print("Virginica")

Virginica